.predict {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  width: 100vw;
  height: 100vh;
  background: #f1f1f1;
  position: fixed;
  left: 0;
}

.separator {
  width: 80%;
  height: 1px;
  background: #000;
}

.predict-header {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
}

.predict-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #e8e8e8;
  margin: 1rem;
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
  //box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: -4px 4px 0 0 #000;

  h1 {
    font-size: 1.8rem;
    color: #000;

  }
}

.predict-team-button {
  padding: 16px;
  font-size: 18px;
  background: #156e38;
  color: white;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: -4px 4px 0px 0px black;
  cursor: pointer;
  transition: all 200ms;
  width: 60%;
  text-align: center;
}

.predict-container {
  width: 80%;
}

.form-fields {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  grid-gap: 2rem;
  justify-items: stretch;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 90%;
  text-align: center;

  label {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  input {
    width: 50%;
    padding: 0.5rem 0;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid #222;
    //border: none;
    //box-shadow: 0 2px 0 0 #000;
    border-radius: 8px;
    background: #fff0;
    color: #000;
    box-shadow: -2px 2px 0 0 #000;

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::placeholder {
      color: #aaa;
    }
  }

  input:hover {
    //box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: -4px 4px 0 0 #000;
    transform: translate(2px, -2px);
  }

  .error {
    border: 2px solid #d33;
    transition: color 0.3s ease;
  }
}

.dark-b,
.light-b {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.predict-button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.5rem 0;
}

.svg {
  display: none;
}

.predict-btn {
  padding: 16px;
  font-size: 20px;
  background: #05668D;
  color: white;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: -4px 4px 0px 0px black;
  cursor: pointer;
  transition: all 200ms;
  width: 100px;
  height: 60px;

  &:hover:not(:disabled) {
    transform: translate(2px, -2px);
    box-shadow: -6px 6px 0px 0px black;
  }

  &:disabled {
    cursor: not-allowed;
    background: #626263;
  }
}

.dot-rolling {
  position: relative;
  height: 10px;
  font-size: 10px;
}

.dot-rolling::before {
  content: "⚽";
  display: inline-block;
  position: relative;
  transform: translateX(-25px);
  animation: dot-rolling 3s infinite;
}

@keyframes dot-rolling {
  0% {
    transform: translateX(-25px) rotateZ(0deg);
  }
  16.667% {
    transform: translateX(25px) rotateZ(720deg);
  }
  33.333% {
    transform: translateX(-25px) rotateZ(0deg);
  }
  34.333% {
    transform: translateX(-25px) rotateZ(0deg);
  }
  50% {
    transform: translateX(25px) rotateZ(720deg);
  }
  66.667% {
    transform: translateX(-25px) rotateZ(0deg);
  }
  67.667% {
    transform: translateX(-25px) rotateZ(0deg);
  }
  83.333% {
    transform: translateX(25px) rotateZ(720deg);
  }
  100% {
    transform: translateX(-25px) rotateZ(0deg);
  }
}

@media screen and (max-width: 768px) {
  .predict {
    position: static;
  }

  .predict-header {
    display: flex;
    flex-direction: column;
  }

  .predict-team-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
  }

  .svg {
    display: block;
    filter: invert(1);
  }

  .predict-title {
    margin: 0;
    width: 100vw;
    text-align: center;
    box-shadow: none;
    border-radius: 0;
    background: #e8e8e8;
  }

  .form-fields {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .dark {
    background: #e8e8e8;
  }

  .light {
    background: #f1f1f1;
  }

  .dark-b {
    background: #e8e8e8;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  .light-b {
    background: #f1f1f1;
    z-index: 2;
  }

  .predict-container {
    width: 100vw;
  }

  .form-group {
    width: 100vw;
    box-shadow: none;
    border-radius: 0 0 2rem 2rem;
    margin: 0 0;

    label {
      font-size: 20px;
    }

    input {
      margin-top: 3px;
      width: 70%;
      font-size: 18px;
      padding: 0.5rem;
    }
  }
}